@import '../styles/custom.scss';
@import '~bootstrap/scss/functions';

.app {
  background-color: color('paschal');
  color: color('egg-white');
  padding: 5px;
  text-shadow: 1px 1px color('nested');
}
